extends layout

block content
    link(rel='stylesheet', href='stylesheets/jquery-ui.min.css')
    style.
        .teamId {
            display: none;
        }
    script(src='javascripts/jquery-3.2.1.min.js')
    script(src='javascripts/jquery-ui.min.js')
    script.
        $(document).ready(function() {
            function message(className, text) {
                $('#log').append($('<p>').addClass(className || 'info').html(text))
            }
            var infoMessage = message.bind(this, 'info')
            var errorMessage = message.bind(this, 'error')
            function error(xhr) {
                errorMessage(xhr.statusText || 'Error ' + xhr.status)
            }
            function clearMessages() {
                $('#log').html('')
            }

            function teamId(element) {
                return $(element).closest('tr').find('.teamId').text()
            }
            $('.mark').change(function() {
                $.post('/su/set-mark', {id: teamId(this), mark: $(this).val()})
            })
            $('.team-result').each(function() {
                this.href = encodeURI(this.href+'?id='+teamId(this))
            })
            var currentTeamId
            $('.remove').click(function() {
                currentTeamId = teamId(this)
                $('#confirm-remove').dialog('open')
            })

            var reload = location.reload.bind(location)
            $('#confirm-remove').dialog({
                autoOpen: false,
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                buttons: {
                    "Удалить": function() {
                        $.post('/su/remove-team', {id: currentTeamId})
                        $(this).dialog('close')
                        reload()
                    },
                    "Отмена": function() {
                        $(this).dialog('close')
                    }
                }
            })

            // Process the 'save' button
            $('#save').click(function(e) {
                e.preventDefault()
                $.post('/su/save', { nameEnding: $('#nameEnding').val() })
                    .done(reload)
                    .fail(error)
            })
        })
    #hdr
        h1 Страница экзаменатора
    #control
        h2 Управление
        .nested
            u(style='list-style-type: none;')
                li: a(href='/su/exit') Выход
                li: a.control(href='/su/clear') Очистить данные
        .nested
            h3 Сохранение данных<br>
            .nested
                form
                    span.label окончание имени
                    input#nameEnding(type='text' name='nameEnding' value=nameEnding)
                    br
                    input#save(type='submit' value='Сохранить')
            h3 Загрузка данных
            .nested#loadfiles
                table
                    tr
                        th имя
                    each file in files
                        tr
                            td: a(href='/su/load?file='+file)= file
            h3 Разное
            .nested#misc
                span
                    if studentData.denyIdentification
                        input#denyIdentification(type='checkbox' checked)
                    else
                        input#denyIdentification(type='checkbox')
                    | Запретить идентификацию вновь прибывших
    #students
        h2 Состояние
        table
            tr
                th № группы
                th Имя 1
                th Фамилия 1
                th Имя 2
                th Фамилия 2
                th Вариант
                th Результат
                th Оценка
                th ...
            each team, index in studentData.teams()
                tr
                    td= team.group
                        span.teamId= team.id()
                    td= team.firstname1
                    td= team.lastname1
                    td= team.firstname2
                    td= team.lastname2
                    td: a(href='/?n='+team.taskIndex target='_blank')= team.taskIndex+1
                    td
                        if team.result
                            a.team-result(href='/su/team-result' target='_blank') есть
                        else
                            | нет
                    td: input.mark(type='text' value=team.mark||'')
                    td: input.remove(type='button' value='удалить')
    #confirm-remove(title="Действитьельно удалить?")
    #log
